@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html,
body {
  font-size: $default-font-size;

  @media (min-width: $breakpoint-medium) {
    font-size: $medium-font-size;
  }
  @media (min-width: $breakpoint-large) {
    font-size: $large-font-size;
  }
}

body,
textarea,
input[type="submit"],
select,
a {
  font-family: $font-family, $font-family-fallback;
}
