<!-- Footer -->
<footer class="footer">

    <!-- Footer Grid -->
    <div class="footer__grid">

        <div class="grid__column half">

            <div class="column__head">
                <h4 class="head__title">
                    QAWebsite
                </h4>
            </div>
            <div class="column__content">
                <p class="content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget commodo nulla, ac egestas turpis. Nam eget lacus bibendum, vehicula odio id, venenatis nisi. Ut ac fringilla nibh. Cras congue posuere purus, non bibendum orci venenatis lacinia. Pellentesque interdum feugiat nibh vitae congue.
                </p>
            </div>
        </div>

        <div class="grid__column quarter">
            <div class="column__head">
                <h4 class="head__title">
                    Last Questions
                </h4>
            </div>
            <div class="column__content">
                <ul class="content__list">
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="grid__column quarter">
            <div class="column__head">
                <h4 class="head__title">
                    Popular Tags
                </h4>
            </div>
            <div class="column__content">
                <ul class="content__list">
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li class="list__item">
                        <a href="#">Lorem ipsum</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- Footer Grid -->

    <!-- Footer Copyrights -->
    <div class="footer__copyrights">
        © 2020 Copyright: <a href="#">QAWebsite.com</a>
    </div>
    <!-- Footer Copyrights -->

</footer>
<!-- Footer -->
