<!-- Header -->
<header class="header">

    <!-- Navigation -->
    <div class="navbar">

        <h1 class="navbar__logo">
            <a href="#">
                QAWebsite
            </a>
        </h1>

        <ul class="navbar__links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- Navigation -->

    <!-- Profile -->
    <div class="profile">

        <div class="search">

            <i class="fa fa-search search__icon" aria-hidden="true"></i>

            <form action="" method="get" class="search__form hidden">
                <input type="text" name="q" id="q" placeholder="What are you looking for ?">
            </form>
        </div>

        <!--
        <div class="profile__unenrolled">

            <ul class="unenrolled__links">
                <li>
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="#">Log In</a>
                </li>
            </ul>
        </div>
        -->

        <div class="profile__registered">

            <span>
                <img class="profile__picture" src="{{ asset('build/profile.png') }}" alt="profile picture">
            </span>
        </div>

    </div>
    <!-- Profile -->

</header>
<!-- Header -->