<!-- Sidebar -->
<aside class="sidebar">

    <!-- Sidebar Head -->
    <div class="sidebar__head">
        <h4 class="head__title">
            Navigate
        </h4>
    </div>
    <!-- Sidebar Head -->

    <!-- Sidebar Lists -->
    <div class="sidebar__lists">

    </div>
    <!-- Sidebar Lists -->

</aside>
<!-- Sidebar -->
