<div class="answer-show">

    {# Card Content #}
    <div class="answer-show__content">

        <p class="content__paragraph">
            {{ answer.content|nl2br }}
        </p>
    </div>
    {# Card Content #}

    {# Card Footer #}
    <div class="answer-show__footer">

        <p class="footer__credits">
            Answered {{ answer.createdAt|date('F d, Y H:i') }} by
            <a href="#" class="footer__credits--link">
                {{ answer.user.username }}
            </a>
        </p>
    </div>
    {# Card Footer #}

    {# Card admin #}
    {% if is_granted('QA_EDIT', answer) %}
        {% include 'backend/layouts/_answer-admin.html.twig' with {
            'answer': answer
        } only %}
    {% endif %}
    {# Card admin #}
</div>
