{{ form_start(answerForm) }}

    {% if answerForm.vars.disabled %}
        <div class="answer-form__disabled">
            You must be logged in to post an answer
        </div>
    {% endif %}

    <h4 class="title title--small black">Submit an answer</h4>

    <div class="
        {% if not answerForm.content.vars.valid %}has-error{% endif %}
    ">
        {{ form_errors(answerForm.content) }}
        {{ form_widget(answerForm.content) }}
    </div>

    <input type="submit" value="Submit" class="answer-form__submit">

{{ form_end(answerForm) }}
