{{ form_start(answerForm) }}

    <h4 class="title title--small black">Submit an answer</h4>

    {{ form_row(answerForm.content) }}

    <input type="submit" value="Submit" class="answer-form__submit">
{{ form_end(answerForm) }}
