{# Question Card #}
<div class="question-card">

    {# Card Head #}
    <div class="question-card__head">

        <h3 class="head__title">
            <a href="{{ path('question_show', {'questionId': question.id}) }}">
                {{ question.title }}
            </a>
        </h3>

        <div class="head__tags">
            {% for tag in question.tags %}
                {% include('frontend/layouts/_tag.html.twig') with { 'tag': tag } only %}
            {% endfor %}
        </div>
    </div>
    {# Card Head #}

    {#Card Excerpt #}
    <div class="question-card__excerpt">
        <p class="excerpt__content">
            {{ question.content|truncate(300, '...')|nl2br }}
        </p>
    </div>
    {#Card Excerpt #}

</div>
{# Question Card #}
