<div class="question-show">

    {# Card Head #}
    <div class="question-show__head">

        <div class="head__tags">
            {% for tag in question.tags %}
                {% include('frontend/layouts/_tag.html.twig') with {
                    'tag': tag
                } only %}
            {% endfor %}
        </div>

        <h3 class="head__title">
            {{ question.title }}
        </h3>
    </div>
    {# Card Head #}

    {#Card Content #}
    <div class="question-show__content">

        <p class="content__paragraph">
            {{ question.content|nl2br }}
        </p>
    </div>
    {#Card Content #}

    <div class="question-show__footer">

        <p class="footer__credits">
            Asked by
            <a href="#" class="footer__credits--link">
                {{ question.user.username }}
            </a>
        </p>
    </div>

    {# Admin section #}
    {% include('backend/layouts/_question-admin.html.twig') with {
        'question': question
    } only %}
    {# Admin section #}

</div>
