.profile {
  display: flex;
  align-items: center;

  .unenrolled__links li,
  .search__icon,
  .search__form {
    display: inline-block;
  }

  &__unenrolled {
    font-size: 0.95em;

    li + li {
      margin-left: 0.8em;
    }

    a:hover {
      @include white-border;
    }
  }

  &__registered {
    border-radius: 50%;

    .profile__picture {
      width: 50px;
      cursor: pointer;
    }
  }
}
