.question-card {
  background-color: #FFFFFF;
  min-height: 100px;
  border-radius: 5px;
  padding: 0.5em 1em;

  & + & {
    margin-top: 1em;
  }

  &__head {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-text-alt-darkened;
    padding-bottom: 0.4em;

    .head {

      &__title {
        width: 60%;
        align-self: flex-start;
        font-weight: 500;

        &::first-letter {
          text-transform: uppercase;
        }

        a {
          color: $color-text;
        }
      }

      &__tags {
        width: 40%;
      }
    }
  }

  &__excerpt {
    margin-top: 0.6em;

    .excerpt__content {
      font-size: 0.75em;
      line-height: 1.2;
    }
  }
}
