.tag {
  float: right;
  margin-bottom: 0.3em;

  a {
    padding: 0.2em 0.5em;
    font-size: 0.7em;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 500
  }

  & + & {
    margin-right: 0.5em;
  }
}
