.wrapper {
  margin: 2em auto;
  max-width: 1300px;
  display: flex;
  background: rgb(171,71,188);
  background: linear-gradient(0deg, rgba(171,71,188,1) 0%, rgba(186,104,200,1) 55%, rgba(255,255,255,1) 100%);
  border-radius: 5px;

  &__content {
    width: 70%;
    padding: 1.5em 1em;

    // FIXME
    height: 1200px;
  }

  &__sidebar {
    width: 30%;
    padding: 1.5em 1em;
  }
}
