.wrapper {
  margin: 2em auto;
  max-width: 1300px;
  display: flex;
  background: rgb(171,71,188);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  &__content {
    padding: 1.5em 1em;

    // FIXME
    min-height: 1200px;
  }

  &__sidebar {
    padding: 1.5em 1em;
  }

  &--three-quarters {
    width: 70%;
  }

  &--quarter {
    width: 30%;
  }

  &--full {
    width: 100%;
  }
}
