<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - QAWebsite</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include('layouts/_header.html.twig') %}
        {% endblock %}

        <div class="wrapper">

            <div class="wrapper__content">
                {% block body %}{% endblock %}
            </div>

            <div class="wrapper__sidebar">
                {% block sidebar %}
                    {% include('layouts/_sidebar.html.twig') %}
                {% endblock %}
            </div>
        </div>

        {% block footer %}
            {% include('layouts/_footer.html.twig') %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
