{% set contentFullWidth = true %}

{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <h2 class="title title--big">
        Contact Us
    </h2>
{% endblock %}
